<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NAPManager"
        tools:targetApi="31">
        <activity
            android:name=".staff_home"
            android:exported="false" />
        <activity
            android:name=".staff_xemchamcong"
            android:exported="false" />
        <activity
            android:name=".staff_xemluong"
            android:exported="false" />
        <activity
            android:name=".mng_staff_salary_calculator"
            android:exported="false" />
        <activity
            android:name=".mng_staff_workday_calculator"
            android:exported="false" />
        <activity
            android:name=".mng_salary"
            android:exported="false" />
        <activity
            android:name=".mng_staff_of_room"
            android:exported="false" />
        <activity
            android:name=".mng_room"
            android:exported="false" />
        <activity
            android:name=".mng_edit_staff"
            android:exported="false" />
        <activity
            android:name=".mng_staff_in4"
            android:exported="false" />
        <activity
            android:name=".mng_add_staff"
            android:exported="false" />
        <activity
            android:name=".mng_staff"
            android:exported="false" />
        <activity
            android:name=".mng_home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>